<div class="container">
  <!-- <img id="profile" src="<% user.profile %>"> -->
  <h1 class="page-header"><%= user.name %>'s Reminders</h1>

<ul class="list-group">
  <% reminders.forEach(function (reminderItem) { if (reminderItem.user == user.id) { %>
    <li class="list-group-item">
      <strong><%= reminderItem.title %>: </strong>
      <%= reminderItem.description %>
      || <%= dateFormat(reminderItem.date, "DDDD, mmmm d, h:MM TT") %> || Completed:
      <% if (reminderItem.completed == true) { %>
        <span class="badge badge-success">True</span>
      <% } else if (reminderItem.completed == false) { %>
        <span class="badge badge-danger">False</span>
      <% } %>
      <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
    </li>
  <% }}) %>
</ul>

</div>
