<div class="container">
  <h1 class="page-header"><%= user.name %>'s Reminders</h1>

    <ul class="list-group">
      <li class="list-group-item">
        <h3><strong><%= reminderItem.title %>: </strong></h3>
        <h4><%= reminderItem.description %></h4>
        <h4>Completed:
          <% if (reminderItem.completed == true) { %>
            <span class="label label-success">True</span>
          <% } else if (reminderItem.completed == false) { %>
            <span class="label label-danger">False</span>
          <% } %>
        </h4>

        <a class="btn btn-warning" href=<%= "/reminder/" + reminderItem.id + "/edit" %>>Edit</a>

        <form class="deleteForm "method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <div>
          <span>
            <% reminderItem.tags.forEach((tag) => { %>
              #<%= tag %>&nbsp;
            <% }) %>
        </span>
        </div>
        <div>
          <h5><%= reminderItem.date %></h5>
        </div>
        <div>
          <ul>
            <% reminderItem.subtasks.forEach(subtask) => { %>
              <li>
                <%= subtask.trim() %>
              </li>
            <% } %>
          </ul>
        </div>
      </li>
    </ul>

</div>
