<div class="container">
  <img src=<%= user.profile + "&h=500&fit=max" %>>
  <h1 class="page-header">My Reminders</h1>

    <ul class="list-group">
      <li class="list-group-item">
        <h3><strong><%= reminderItem.title %>: </strong></h3>
        <h4><%= reminderItem.description %></h4>
        <h4>Completed:
          <% if (reminderItem.completed == true) { %>
            <span class="badge badge-success">True</span>
          <% } else if (reminderItem.completed == false) { %>
            <span class="badge badge-danger">False</span>
          <% } %>
        </h4>
        <div>
          <h5><%= dateFormat(reminderItem.date, "DDDD, mmmm d, h:MM TT") %></h5>
        </div>

        <div>
          <ul>
            <% reminderItem.subtasks.forEach((subtask) => { %>
              <li>
                <h5><%= subtask.trim() %></h5>
              </li>
            <% }) %>
          </ul>
        </div>

        <div>
          <span>
            <% reminderItem.tags.forEach((tag) => { %>
              #<%= tag %>&nbsp;
            <% }) %>
        </span>
        </div>

        <a class="btn btn-warning" href=<%= "/reminder/" + reminderItem.id + "/edit" %>>Edit</a>

        <form class="deleteForm "method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </li>
    </ul>

</div>
